@model IEnumerable<Witcherius.BL.DataTransferObjects.Location.LocationDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Location")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { controller = "Location",id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { controller = "Location", id =item.Id })
            </td>
        </tr>
    }

</table>

@if ((int)ViewBag.Count > 10)
{
    <div align="center">
        @{ Html.RenderAction("Pagination", "Components", new { count = (int)ViewBag.Count, current = (int)ViewBag.Current}); }
    </div> 
}

<p>
    @Html.ActionLink("Back To Dashboard", "Index", "DashBoard")
</p>
